<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <button id="rzp-button">Pay ₹{{ amount_rupees }}</button>

    <script>
        var options = {
            "key": "{{ razorpay_key_id }}",
            "amount": "{{ amount }}",
            "currency": "INR",
            "name": "{{ name }}",
            "description": "Payment for testing",
            "order_id": "{{ payment.id }}",
            "handler": function (response){
                var form = document.createElement('form');
                form.method = 'POST';
                form.action = "/verify/";
                form.innerHTML = `
                    <input type="hidden" name="razorpay_payment_id" value="${response.razorpay_payment_id}">
                    <input type="hidden" name="razorpay_order_id" value="${response.razorpay_order_id}">
                    <input type="hidden" name="razorpay_signature" value="${response.razorpay_signature}">
                    {% csrf_token %}
                `;
                document.body.appendChild(form);
                form.submit();
            }
        };
        var rzp1 = new Razorpay(options);
        document.getElementById('rzp-button').onclick = function(e){
            rzp1.open();
            e.preventDefault();
        }
    </script>

</body>
</html>