
*{
    margin: 0;
}

/* body{
    margin: 0;
} */

header{
    background-color: black;
    color: white;
    text-align: center;
}

#title{
    padding: 40px;
}

nav{
    background-color: rgb(20, 22, 24);
}

a{
    color: white;
    margin-right: 20px;
}


main{
    height: 73vh;
}


footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 25px;
}