
body{
    display: flex;
    justify-content: center; 
    background-color: rgb(207, 249, 255);
}

main{
    width: 50vw;
}


/* img{
    width: 5vw;
} */


.top{
    text-align: center;
}

.top h1{
    color: blue;
}

.bottom{
    display: flex;
}

.left{
    background-color: blue;

    width: 18vw;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 55vh;

}

.left figure{
    width: 16vw;
    text-align: center;
}

.left img{
    width: 13vw;
    border-radius: 50%;
}

.right{
    /* background-color: aqua; */

    display: flex;
    width: 25vw;
    margin-left: 2rem;
}

.box1 , .box2 , .box3 , .box4{
    background-color: white;

    margin: 1rem;

    height: 20vh;
    width: 13vw;

    
    padding-top: 40px;
    padding-right: 20px;

}

.box1{
    border-bottom: 4px solid orange;
    
}

.box2{
    border-bottom: 4px solid blue;
}

.box3{
    border-bottom: 4px solid aqua;
}


.box4{
    border-bottom: 4px solid rgb(212, 255, 0);
}

.boxes img{
    height: 10vh;

    /* margin-top: 2rem;
    padding-right: 3rem; */
}