<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">

</head>
<body>
    <h1>Static page</h1>
    

    <button onclick="fullImg()">
        <img src="{{ url_for( 'static',filename='images/blackHole.jpg' ) }}" alt="hello" >
    </button>
    <button onclick="fullImg()">    
        <img src="{{ url_for( 'static',filename='images/earth.webp' ) }}" alt="hello" >
    </button>
    <button onclick="fullImg()">
        <img src="{{ url_for( 'static',filename='images/moon.jpg' ) }}" alt="hello" >
    </button>
    <button onclick="fullImg()">    
        <img src="{{ url_for( 'static',filename='images/nebula.png' ) }}" alt="hello" >
    </button>


    <button onclick="fullImg()" id="popupBtn">
        <img src="{{ url_for( 'static',filename='images/blackHole.jpg' ) }}" alt="hello" id="popup" >  
    </button>


    <script src="{{ url_for( 'static',filename='js/script.js' ) }}"></script>


</body>
</html>